#customDiv1 {
    background: url("../img/header-logo.png") no-repeat scroll left;
    /*border-bottom: 25px solid #003F72;*/
    top: 50px;
    height: 100px;
    width: 1350px;
}
#customDiv2 {
}
#customDiv3 {
}
body, html {
    height: 100%;
}
body {
    background-color: #023049;
    font-family: verdana,sans-serif;
    font-size: 100%;
    line-height: 1.2em;
    margin: auto;
    padding: 0;
}
#floorplancontainer {
    background-color: #F8F7F6;
    border-left: 1px solid #CCCCCC;
    position: absolute;
    top: 95px;
    bottom: 0;
    left: 250px;
    width: 1100px;
    overflow: auto;
}

#floorplancontent {
    margin: 0;
    padding: 20px 40px 40px;
}

#form {
    position: relative;
}

#sidebar {
    background-color: #F8F7F6;
    color: #00467F;
    position: absolute;
    top: 95px;
    bottom: 0;
    left: 0;
    width: 250px;
    overflow: auto;
}

h2sb {
    right: 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 100%;
}

h3sb {
    left: 15px;
    font-size: 16px;
    font-weight: normal;
    line-height: 25%;
}

h4sb {
    left: 15px;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    line-height: 50%;
}

li {
    font-size: 10px;
    font-weight: normal;
    line-height: 100%;
}